/*Styles for the Scheduler*/
body{
	font-family: Arial, sans-serif;
	background-color: #ef4048;
	color: white;
	text-align: center;
}

img{
	height: 25%;
	width: auto;
}
section{
	background-color: white;
	color: #ef4048;
	padding: 5px;
}

input{
	padding: 10px;
	margin: 10px;
	border: 3px solid #ef4048;
	outline: none;
	border-radius: 8px;
}

button{
	font-size: 18px;
	background-color: #ef4048;
	color: white;
	border: none;
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
	
}

table{
	width: 75%;
	margin: auto;
}

table th{
	border: 1px solid #ef4048;
    background-color: white;
}
table td{
    background-color: #ef4048;
    padding: 10px;
}


.buttonAlt{
	font-size: 12px;
	background-color: #ef4048;
	color: white;
	border: none;
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
}

.buffer{
    padding: 60px;
}

p{
    font-size: 18px;
    color:black
}

/*Interior display*/
.interior{
	display: grid; 
	grid-template-rows: 0.20fr 1fr 1fr;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	gap: 0px;
	height: 100%;
	background-color: white;
	gap: 0;
	
 }
   
 #left {
  
	grid-row-start: 2;
	grid-column-start: 1;
 
	grid-row-end: 4;
	grid-column-end: 2;
	border:3px solid #ef4048;
	
	
 }
 #right {
  
	grid-row-start: 2;
	grid-column-start: 3;
 
	grid-row-end: 4;
	grid-column-end: 4;
	border:3px solid #ef4048;
	
 }
 #top{
	grid-row-start: 1;
	grid-column-start: 1;
 
	grid-row-end: 2;
	grid-column-end: 4;
	border:3px solid #ef4048;
	
	
 }
 
 #image {

	grid-row-start: 2;
	grid-column-start: 2;
 
	grid-row-end: 4;
	grid-column-end: 3;
	bottom: 0px;
	border:3px solid #ef4048;
	
 }

 #bottom {

	grid-row-start: 3;
	grid-column-start: 2;
 
	grid-row-end: 4;
	grid-column-end: 3;
	border:3px solid #ef4048;
	
 }





/*Entrances page*/
.entrances {
	display: flex;
	flex-wrap: wrap;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   
   gap: 1px;
   height: 100%;
 
   
}
  
#ne{

	flex: 25%;
  padding: 0px;
   background-color: #ef4048; 
   grid-row-start: 1;
   grid-column-start: 1;
   width:100%;
   grid-row-end: 2;
   grid-column-end: 2;
   
}
#nw{

	flex: 25%;
  padding: 0px;
   background-color: #ef4048; 
   grid-row-start: 1;
   grid-column-start: 2;
   width:100%;
   grid-row-end: 2;
   grid-column-end: 3;
   
}
#se{

	flex: 25%;
  padding: 00px;
   background-color: #ef4048; 
   grid-row-start: 2;
   grid-column-start: 2;
   width:100%;
   grid-row-end: 3;
   grid-column-end: 3;
   
}
#sw {

	flex: 25%;
  padding: 0px;
   background-color: #ef4048; 
   grid-row-start: 2;
   grid-column-start: 1;
   width:100%;
   position: relative;
   grid-row-end: 3;
   grid-column-end: 2;
   
}

	
 