body{
    background:#EF2020 !important;
    font-family: 'Muli', sans-serif;

    
  }
  h1{
    color: #fff;
    padding-bottom: 2rem;
    font-weight: bold;
    
  }
  a{
    color: #333;
  }
  a:hover{
    color: #EF2020;
    text-decoration: none;
  }
  .form-control:focus {
  
      color: #000;
      background-color: #fff;
      border:2px solid #EF2020;
      outline: 0;
      box-shadow: none;
    
  
  }
  /*buttons */
  .btn{
    background: #EF2020;
    border: #EF2020;
  }
  .btn:hover {
    background: #EF2020;
    border: #EF2020;
  }
  .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:0px;
    margin-left: -200px;

  }
  
 .inside {
        width:100%;
        position: relative;
        bottom:0;
    
}