/*Styles for the Scheduler*/
body{
	font-family: Arial, sans-serif;
	background-color: #EF4048;
	color: white;
	text-align: center;
}

section{
	padding: 10px;
}

img{
	height: 25%;
	width: auto;
}

.smallLogo {
	height: 15%;
	width: 15%;
}

input{
	padding: 10px;
	margin: 10px;
	border: 3px solid red;
	outline: none;
	border-radius: 8px;
}

header input[type=text] {
	background: white;
	border: 3px solid white;
	border-radius: 10px;
	color: #EF4048;
	font-size: 16px;
}

button {
}

#mapSection {
	height: 65vh;
}

#map {
	width: 500px;
	max-width: 600px;
	height: 100%;
	background-color: white;
	margin: auto;
}

button{
	font-size: 18px;
	background-color: white;
	color: red;
	border: none;
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
}

button:hover {
	background-color: lightgray;
	cursor:pointer;
}

footer button {
	background-color: white;
	color: #EF4048;
}

table{
	width: 75%;
	margin: auto;
}

table td, th{
	border: 1px solid red;
}

