/*Styles for the Scheduler*/
body{
	font-family: Arial, sans-serif;
	background-color: #ef4048;
	color: white;
	text-align: center; /*centers elements*/
}

section{
	background-color: white;
	color: #ef4048;
	padding: 10px;
}

/* Sets the image size so that the width is either 75% of the screen
or it is 300px if 75% of the screen is larger than 300px*/
img{
	height: auto;
	width: min(75%, 300px);
}

input{
	padding: 10px;
	margin: 10px;
	border: 3px solid #ef4048;
	outline: none;
	border-radius: 8px; /*curves corners of buttons*/
	text-align: center;
}

textarea{
	resize: none;
}

button{
	font-size: 18px;
	background-color: #ef4048;
	/*background-color: blue;*/
	color: white;
	border: none;
	margin: 10px;
	padding: 10px;
	border-radius: 8px; /*curves corners of buttons*/	
	cursor: pointer; /*changes the cursor to a gloved hand*/
}

#logout{
	font-size: 18px;
	background-color: white;
	/*background-color: blue;*/
	color: #ef4048;
	border: none;
	margin: 10px;
	padding: 10px;
	border-radius: 8px; /*curves corners of buttons*/
	position:absolute;
	right:10px;
	top:5px;
}

table{
	width: 75%;
	margin: auto;
}

table td, th{
	border: 1px solid #ef4048;
}

.click-cursor{
	cursor: pointer;
}

.display-none{
	display: none;
}

#calendarmonth{
	display: inline-block; /*keeps buttons in-line with header*/
}

/* Add Class Result Section */
.result-area{
	display: none;
}

/*Notes*/
#notes{
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	margin: 0;
	padding: 24px;
	gap: 24px;
}

.note{
	height: 200px;
	box-sizing: boarder-box;
	padding: 16px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
	resize: none;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
.add-note{
	height: 205px;
	border: none;
	outline: none;
	background: 0 0 7px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 120px;
	color:rgba(0, 0, 0, 0.5);
	/*cursor: pointer;*/
	transition: background 0.2s ;
}
.add-note:hover{
	background: rgba(0, 0, 0, 0.2);

}
label {
    color: #555;
}

/*Calender*/
#today {
	background-color: #cccccc;
}

.selected {
	background-color: #b3ecff;
}

#showEvents {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background-color: #b3ecff;
	margin-top: 20px;
	position: relative;
}

#eventDate {
	position: absolute; width: 100%;
	margin: 0 auto;top: 0;
}

  /*Scheduler landing*/
.scheduler {
	display: grid; 
	/*grid-template-rows: 1fr 0.5fr;*/
	grid-auto-rows: minmax(100px, auto);
	grid-template-columns: 1fr 1fr;
	gap: 0px;
	height: 100%;
 }
   
 #assignments {
	border:3px solid #ef4048; 
	grid-row: 2 / 3; /* grid row start = 2, grid row end = 3*/
	grid-column: 1 / 2; /* grid col start = 1, grid col end = 2*/
 }
 
 #tasks {
	border:3px solid #ef4048;
	grid-row: 2 / 3; /* grid row start = 2, grid row end = 3*/
	grid-column: 2 / 3; /* grid col start = 1, grid col end = 2*/
 }
 
 #events {
	border:3px solid #ef4048;
	grid-row: 1 / 2; /* grid row start = 1, grid row end = 2*/
	grid-column: 1 / 3; /* grid col start = 1, grid col end = 3*/
 }

 /*todo checklist*/
 /*
#newtask{
    position: relative;
    padding: 0px;
}

#newtask input{
    width: 50%;
    height: 25px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    border: 2px solid #ef4048;
    padding: 10px;
    color: #111111;
    font-weight: 500;
    position: relative;
    
}

#newtask input:focus{
    border-color: #ef4048;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	color: #899098;
	font-weight: 400;
	border-bottom: 1px solid #cfcbcc;
	line-height: 1.5;
	padding: 8px 0;
}

li:before {
	content: "\25A1";
	padding: 10px 10px;
	font-size: 20px;
}

li:hover {
	text-decoration: line-through;
	cursor: pointer;
}

li:last-child {
	border-bottom: none;
}
	
.checked {
	color: #ef4048;
}

.checked:before {
	content: "\2713";
	padding: 10px 10px;
	font-size: 20px;
}

.checked:hover {
	text-decoration: none;
}

.checked:after {
	content: "(remove)";
	color: #ef4048;
	text-align: right;
}
*/
	
/* Daily Schedule */
.new-schedule-item-form, .schedule-item-table, #newtodo {
	display: none;
}

#date-header {
	display: inline-block;
}

.progress-bar {
	width: 0%;
}

.card-width{
	width: min(400px, 100%);
	margin: auto;
}

/* Icons */
.add-icon {
	background-image: url('../images/icons/add.jpg');
	background-size: cover;
	width: 48px;
	height: 48px;
}

.check-mark-icon {
	background-image: url('../images/icons/check_mark.jpg');
	background-size: cover;
	width: 48px;
	height: 48px;
}

.circle-icon {
	background-image: url('../images/icons/circle.jpg');
	background-size: cover;
	width: 48px;
	height: 48px;
}

.close-icon {
	background-image: url('../images/icons/close.jpg');
	background-size: cover;
	width: 48px;
	height: 48px;
}

.edit-icon {
	background-image: url('../images/icons/edit.jpg');
	background-size: cover;
	width: 48px;
	height: 48px;
}

.left-arrow-icon {
	background-image: url('../images/icons/left_arrow.jpg');
	background-size: cover;
	width: 48px;
	height: 48px;
}

.right-arrow-icon {
	background-image: url('../images/icons/right_arrow.jpg');
	background-size: cover;
	width: 48px;
	height: 48px;
}

.trash-icon {
	background-image: url('../images/icons/trash.jpg');
	background-size: cover;
	width: 48px;
	height: 48px;
}





	