/*Styles for the Scheduler*/
body{
	font-family: Arial, sans-serif;
	background-color: #ef4048;
	color: white;
	text-align: center; /*centers elements*/
}

section{
	background-color: white;
	color: #ef4048;
	padding: 10px;
}

img{
	height: 25%;
	width: auto;
}

input{
	padding: 10px;
	margin: 10px;
	border: 3px solid #ef4048;
	outline: none;
	border-radius: 8px; /*curves corners of buttons*/
	text-align: center;
}

button{
	font-size: 18px;
	background-color: #ef4048;
	/*background-color: blue;*/
	color: white;
	border: none;
	margin: 10px;
	padding: 10px;
	border-radius: 8px; /*curves corners of buttons*/
	
	
}

table{
	width: 75%;
	margin: auto;
}

table td, th{
	border: 1px solid #ef4048;
}

#calendarmonth{
	display: inline-block; /*keeps buttons in-line with header*/
}

/* Add Class Result Section */
.result-area{
	display: none;
}

/*Notes*/
#notes{
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	margin: 0;
	padding: 24px;
	gap: 24px;
}

.note{
	height: 200px;
	box-sizing: boarder-box;
	padding: 16px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
	resize: none;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
.add-note{
	height: 205px;
	border: none;
	outline: none;
	background: 0 0 7px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 120px;
	color:rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: background 0.2s ;
}
.add-note:hover{
	background: rgba(0, 0, 0, 0.2);

}
label {
    color: #555;
}

/*Calender*/
.today{
	background-color: #cccccc;
}

.selected{
	background-color: #b3ecff;
}

#showEvents {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background-color: #b3ecff;
	margin-top: 20px;
  }